*{font-family: 'Roboto Condensed', sans-serif;}
li,div{text-align:left;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, a{
	border: 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;font-style: inherit;font-weight: inherit;
	margin: 0;outline: 0;padding: 0;
	vertical-align: baseline;
}
*,*:before,*:after {
	-webkit-box-sizing: inherit;-moz-box-sizing: inherit;box-sizing: inherit;
}

ol,ul {list-style: none;margin:0;}
a:hover,a:active {outline: 0;}
a img {border: none;}
body,button,input,select,textarea {	color:#333;font-size:15px;line-height:125%;}
h1,h2,h3,h4,h5,h6 {clear: both;font-weight: 500;line-height:125%;}
p {margin-bottom: 10px;}
b,strong {font-weight: 700;}
hr {background-color: #eaeaea;background-color: rgba(51, 51, 51, 0.1);
	border: 0;height: 1px;
}
ul,ol {margin:none;list-style: none;padding:0px;}
li > ul,li > ol {margin-bottom: 0;}
button,input,select,textarea {
	background-color: #f7f7f7;vertical-align: baseline;
	border-radius: 0;font-size: 16px;
	line-height: 1.5;margin: 0;max-width: 100%;	
}
button,input {line-height: normal;}
input,
textarea {
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); /* Removing the inner shadow on iOS inputs */
	border: 1px solid #eaeaea;
	border: 1px solid rgba(51, 51, 51, 0.1);
	color: #707070;color: rgba(51, 51, 51, 0.7);
}
input:focus,
textarea:focus {
	background-color: #fff;color: #333;
	border: 1px solid #c1c1c1;border: 1px solid rgba(51, 51, 51, 0.3);	
}

input:focus,
select:focus {outline: 2px solid #c1c1c1;outline: 2px solid rgba(51, 51, 51, 0.3);}
button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
	cursor: default;
	opacity: .5;
}
button,input[type="button"],input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	background-color: #333;border: 0;color: #fff;
	cursor: pointer;font-size: 12px;font-weight: 700;
	padding: 0.7917em 1.5em;text-transform: uppercase;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	background-color: #707070;
	background-color: rgba(51, 51, 51, 0.7);
	outline: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;padding: 0;}
input[type="text"],
textarea {padding: 0.375em;width: 100%;}
textarea {overflow: auto;vertical-align: top;}
input[type="text"]:focus,textarea:focus {
	outline: 0;}
body{background:#efefef;}
.site-header{border-bottom:#EEEEEE;width:100%;min-height:50px;border-bottom:1px solid #ccc;position:fixed;z-index:100;background:#f4f0e2;}
.fullcenter{padding-top:10px;}
#content{padding-top:55px;}
.logo,.menucss{float:left;}
.logo{width:100px;font-size:20px;font-weight:bold;padding-top:10px;}
.logo a{display:block;height:100%;width:100%;}
.logo a span{display:inline;}
.site-content{clear:both;}
.top_right{float:right;padding-top:6px;position:relative;}
.top_right .menu-item ul.sub-menu{width:150px;margin-left:-50px;background:white;border:1px solid #eee;border-radius:10px;}
.top_right .menu-item:hover  ul.sub-menu{display:block;}
.top_right .menu-item  a:hover{text-decoration:none;}
.top_right a span{font-size:25px;}
div.userinfoMenu,#menuUserMobile{border:1px solid #ce3e26;border-radius:20px;}
#menuUserMobile{cursor:pointer;}
div.userinfoMenu a{display:block;height:100%;}
div.userinfoMenu img{border-radius:15px;vertical-align:middle;}
.createQuizz a{display:block;width:120px;padding:5px;border-radius:5px;text-align:center;background:#009CFF;}
.createQuizz a:hover{background:#2AAAFF;}
.profile{float:left;width:auto;border-left:1px solid #ccc;margin:0 15px 0 20px;}
.profile a span{color:#545454;font-size:35px;}
.createQuizz{float:right;}
a{text-decoration:none;color:#545454;}
.clearBoth{clear:both;}
.owl-carousel{margin-top:10px;}
div.slider  div.owl-controls{margin-top:-20px;}
.slider a{color:#545454;border:none;}.slider a:hover{border:none;}
.slider article p{font-size:19px;}
.list-item li{clear:left;border:1px solid gainsboro;padding:10px;border-radius:3px;background:white;float:left;float:left;width:48%;margin:0px 1% 10px;}
.list-item li:nth-child(even){float:right;clear:right;}
.list-item li h4 > a{font-size:18px;font-weight:600;display:block;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;line-height: 20px;max-height: 40px;}
.list-item ul{margin-left:0px;}
.topSingle{margin-top:10px;}
div.firstColumn{width:100%;float:left;}div.secondColumn{width:100%;float:left;}		
div.tag {border:1px solid #ccc; border-radius:3px;margin-top:15px;}
div.tag  h2{border-bottom:1px solid #ccc;padding:10px;background:#f5f5f5;}
div.tag  p{padding:10px;}
div.tag a{color:#009cff;}
.other{margin-top:10px;}
.other li{margin-bottom:10px;}
span.current,.paging a{background:#f9f9f9;padding:5px;margin-right:10px;border:1px solid #ccc;}
span.current{background:#009cff;color:white;}
.paging{float:right;}
.paging a:hover{background:#9AC59A;}
.loadMore{width:100%;border:1px solid #ccc;text-align:center;font-weight:bold;font-size:20px;float:left;clear:both;}
.loadMore a{text-align:center;width:100%;color:white;background:#ce3e26;}
.loadMore img{display:none;}
.bold{font-weight:bold;}
.screen-reader-text{display:none;}
.media-toolbar-primary{height:50px;}
#menu-main-menu{margin:0px;}
ul.sub-menu{display:none;position:absolute;background:#FFF;width:200px;z-index:100;}
.menu-user ul.sub-menu a{display:inline-block;width:100%;}
.menucss ul{margin-left:0px;}
.menucss > ul > li{float:left;padding:18px 10px 13px 10px;}
.menucss > ul > li > ul{margin:13px 0 0 -16px;}
.menucss a{text-decoration:none;font-size:14px;text-transform:uppercase;font-weight:600;}
.menucss  ul li:hover > ul{border:1px solid #ccc;display:block;}
.menucss  ul.sub-menu li:hover > ul{display:block;width:auto;position:relative;display:block;border:none;}
ul.sub-menu li{font-size:13px;padding:5px 10px;}
ul.sub-menu li:hover > a{font-weight:bold;}
.topQuizz h2{border-left:3px solid #009CFF;font-size:20px;padding-left:10px;border-bottom:1px solid #ccc;}
.divButton{margin-left:-50px;float:right;min-width:40px;}
#s{background:white;border:0px;border-left:1px solid #ccc;float:left;height:35px;}
.btsearch{background:#ce3e26;height:100%;width:40px;text-align:center;margin-left:-5px;padding:10px;border-radius:20px;}
.btsearch:hover{background:#ce3e26;}
div.divButton .genericon-leftarrow{color:#ce3e26;margin-top:10px;}
.searchform{float:right;max-width:400px;background:white;border-radius:5px;border:1px solid #ccc;border-radius:20px;}
.fsearch{width:80%;}
.typesearch{padding-right:5px;}
.typesearch:after{margin-left:3px;content: '\f502';vertical-align:bottom;display: inline-block;-webkit-font-smoothing: antialiased;font: normal 10px/1 'Genericons';}
.menu-type-search{padding:8px 5px 0;height:100%;width:18%;}
.menu-type-search ul li{cursor:pointer;}.menu-type-search ul li:hover{font-weight:bold;}
.top_right .menu-type-search:hover  ul.sub-menu{display:none;}
.top_right a.rbutton span.lab{font-size:15px;color:white;padding:8px 10px;display:inline-block;}
.top_right a.rbutton span.genericon{color:white;font-size:20px;line-height:26px;}
.rbutton{text-align:center;display:inline-block;}
.rbutton span{padding:5px;}
.menu-item{margin-left:5px;}
.post-item-button{background:#de4c34;}.floggin{background:#3b5998;}
.post-item-button  span.genericon{background:#ce3e26 }
.floggin  span.genericon{background:#354f88 }
.logged{display:inline-block;padding:5px;line-height:150%;}
.article-page .leftColumn{background:white;border-radius: 3px;padding:10px;border:1px solid gainsboro;box-shadow:0 0 4px rgba(0, 0, 0, 0.06);}
/*------Top waiting----*/
#top_waiting{display:none;position:fixed;top:0px;height:20px;z-index:1000;text-align:center;width:100%;}
/*------Sidebar-------*/
.box{text-align:center;border-radius:3px;width:100%;margin-top:10px;background:white;border:1px solid gainsboro;box-shadow:0 0 4px rgba(0, 0, 0, 0.06);}
.box:first-child{margin-top:0px;}
.box h4.title > a{font-size:16px;font-weight:bold;line-height:125%; }
.box .content{padding:0 10px 10px 10px}
.box h3{padding:10px 0;text-align:center;font-size:16px;width:100%;line-height:16px;}
.box .option{text-align:center;font-size:14px;margin-bottom:0px;}
.box .option span{padding:0 5px;display:inline-block;cursor:pointer;}
.box .option span.choose{border-bottom:1px solid;}
.top_hot h3{float:left;width:auto;padding:10px 0 0 10px;}
.top_hot p.option{float:right;padding-top:10px;line-height:16px;}
.top_hot .option span{font-size:12px;line-height:12px;padding:0px 5px;border-left:1px solid #ccc;}
.top_hot .option span.choose{border-bottom:0px;font-weight:bold;}
.top_hot .option span:first-child{border:0px;}
.top_hot > p.alignCenter{width:100%;}
.box div.ajax_load{padding:0 10px;float:left;width:100%;}
.box ul li{border-bottom:1px solid #ccc;padding-bottom:10px;}
.box ul li:last-child{border:0px;}
p.name{color:#999;margin-bottom:5px;font-size:13px;}
p.name a,p.name span{color:#999;font-size:13px;}
.bar-detail > div{float:left;}
.photo{width:100%;position:relative;text-align:center;min-height:100px;}
.item_otherpost .photo{min-height:90px;}
.item_otherpost a{display:block;width:100%;text-align:center;padding-top:10px;}
.box .photo{min-height:90px;}
.child-photo img,.photo img{max-width:100%;vertical-align: bottom;}
.child-photo{width:100%;text-align:center;}
.child-photo .item-child{width:49%;float:right;text-align:center;}
.child-photo .item-child:first-child{float:left;text-align:center;}
.photo > a,.child-photo >a{line-height:0px;}
.item-child span{display:none;}
span.type_video{background:url('../img/icons_medium.png') center -32px no-repeat;}
span.type_quizz{background:url('../img/icons_medium.png') center 0px no-repeat;}
span.type_news{background:url('../img/icons_medium.png') center -96px no-repeat;}
span.type_photo{background:url('../img/icons_medium.png') center -64px no-repeat;}
span.type_item{position:absolute;top:36%;right:35%;height:32px;width:30%;opacity:0.6;}
.box  a.morehot{display:inline-block;padding:6px 0px;text-align:center;width:100%;margin:auto;border-radius:5px;background: linear-gradient(#F9F9F6, #FFFFFF, #F9F9F6);}
.box  a.morehot:hover{background: linear-gradient(#F5F5F0,#FFFFFF,#F5F5F0);}
.contribute{z-index:5;position:fixed;bottom:50px;right:0px;font-size:20px;color:white;
color:white;background:#DF312A;border-radius:3px;
}.cd-top{cursor:pointer;border-bottom:1px solid white;}
.contribute span{color:white;font-size:35px;}
/*Slide suggestion footer*/
.sugguest_fotter{background:white;padding:10px 0;margin-top:10px !important;}
.sugguest_fotter .content{width:830px;overflow:hidden;height:82px;}
.sugguest_fotter .scroll_div{width:2000px;}
.sugguest_fotter .scroll_div > div{width:198px;height:80px;float:left;margin:0 5px;text-align:center;border:1px solid #ccc;}
.sugguest_fotter .scroll_div > div a{width:100%;display:block;height:100%;}
.sugguest_fotter .content img{max-width:200px;max-height:80px;}
.sugguest_fotter .naviTab{width:96px;text-align:center;}
.sugguest_fotter .naviTab span{cursor:pointer;font-size:30px;color:#828282;padding-top:25px;}
/*End Slide suggestion footer*/
.menu_footer{width:100%;background:white;}
.menu_footer .menucss{padding:0px;}
.menu_footer .menucss li{padding:10px;border:0px;}
.menu_footer .menucss li a{font-size:14px;font-weight:normal;}
.menu_footer  .menucss > ul > li:first-child{border:0px;}
.more-article hr{margin-top:10px;border-top:1px solid #ccc;}
.more-article span.youtube{width:30px;height:30px;}
.more-article p.title{margin-top:-20px;text-align:center;}
.more-article p.title b{background:white;font-size:18px;}
/*List color*/
.main-color{color:#e54e53;}
p.bar_content{height:auto;line-height:100%;margin-bottom:0px;padding:5px 0;}
p.bar_content  *,p.bar_content span a{font-size:13px;color:#999;}
p.bar_content span a{color:#545454;text-transform:uppercase;}
p.bar_content span{padding:0 10px 0 0;}
p.bar_content span.genericon{font-size:13px;padding:1px 0 0 0;}
p.bar_content span.genericon-show{padding-right:2px;}
p.bar_content .line_2{vertical-align:top;word-break:keep-all;display:inline-block;font-size:13px;color:#999;}
div.secondColumn .content{font-size:16px;text-align:justify;line-height:150%;}
div.social{margin-top:10px;max-height:30px;max-width:320px !important;}


/*------------------------Page-Detail----------*/
h1{font-size:18px;font-weight:600;line-height:125%;color:#545454}
a.button{font-size:12px;padding:5px 10px;background:#f8f8f8;border:1px solid #ccc;border-radius:5px;cursor:pointer;}
.countbox{font-size:12px;}
a.button span{padding-top:5px;font-size:14px;}
a.button:hover{border:1px solid #9dacce}
.bar-detail{max-height:70px;height:auto;display:inline-block;}
.bar-detail a{display:inline-block;}
.bar-detail .fb-send{padding-right:10px;}
.otherpost{text-align:left;font-weight:bold;font-size:14px;}.otherpost a:first-child{margin-right:10px;}
.otherpost span{font-size:25px;font-weight:bold;}
img.fbimage{width:400px;max-height:300px;}
.report{width:100%;text-align:right;clear:both;}
.report a,.report span{color:#bf0208;}.report span{padding-top:4px;}
div.topUser{width:100%;float:left;margin:10px 0;}
div.topUser h3{font-weight:bold;border-bottom:1px solid #ccc;width:100%;}
div.topUser li{width:25%;float:left;padding:5px;min-height:50px;margin:5px 0;}
div.topUser li img{float:left;border-radius:10px;border:1px solid #ccc;max-width:50px;}
div.topUser li p{float:left;width:65%;padding:0px 0px 0px 5px;}
div.topUser li p span{font-size:12px;display:block;padding-bottom:3px;line-height:13px;width:100%;overflow: hidden;white-space: nowrap; text-overflow: ellipsis; }
.tag_p{width:100%;}
.tag_p a{background:#C79C72;display:inline-block;padding:2px 8px;border:1px solid #ccc;margin:0px 10px 5px 0px;border-radius:5px;color:white;}
.tag_p a:nth-child(2n+2){background:#FFCA66;}
.tag_p a:nth-child(3n+3){background:#959595;}
.tag_p a:nth-child(4n+4){background:#99a4cc;}
.tag_p a:hover{border-color:#333;}
.video{width:100%;min-height:350px;position:relative;float:left;}
#ytplayer{position:absolute;width:100%;height:100%;}
.more-article p.photo{margin-bottom:0px;min-height:90px;}
div.userinfo p.rank{margin-bottom:0px;color:#999;height:22px;}
div.userinfo p.rank a{font-size:13px;line-height:100%;color:#999;vertical-align:text-bottom;}
div.userinfo p.rank a span{padding-top:5px;}
.social_action{width:100%;text-align:center;float:left;margin:10px 0;}
.social_action >div{text-align:center;padding:50px 0 0 0;display:inline-block;width:110px;background:url('../img/social-action1.jpg') no-repeat;background-position:-110px 0px;}
.social_action >div:first-child{background:url('../img/social-action1.jpg') 0px 0px no-repeat;}
.quizztroll{padding:40px 0;border-top:1px solid #ccc;}
.like_fan_page{overflow:hidden;border:1px solid #ccc;border-radius:5px;margin-top:10px;padding:10px;float:left;width:100%;}
.comment_div{margin-top:10px;width:100%;overflow:hidden;z-index:1;position:relative;}
.comment_div span.genericon{font-size:20px;}
.comment_div >div.divContainComment{padding:10px;border:1px solid #ccc;position:relative;width:100%;}
div.divHideComment{width:100%;height:150px;position:absolute;z-index:10;display:none;}
div.divHideComment div.fb_iframe_widget{position:absolute;z-index:1;}
.more-article li{width:23.5%;float:left;margin-right:2%;margin-bottom:10px;}
.more-article{width:100%;}
.more-article li img{max-width:100%;height:95px;vertical-align:bottom;}
.more-article li .rank,.more-article li  h4{text-align:center;}
.more-article li  h4{height:50px;overflow:hidden;}
.reportPopup .title{margin-bottom:10px;font-weight:bold;font-size:18px;line-height:125%;border-bottom:1px solid #ccc;padding:15px 0;}
.reportPopup .button_div{text-align:right;}
.reportPopup #other_reason{border-radius:10px;height:26px;font-size:14px;}
.other_type .aligncenter,p .aligncenter{display:block;margin:0 auto;}
.other_type .alignleft,p .alignleft{float:left;display:block;}
.other_type .alignright,p .alignright{float:right;display:block;}
.other_type p{display:block;float:left;width:100%;}
#divPlaylist{text-align:center;padding:10px 0;width:100%;}
#divPlaylist *{margin:0 5px;}
#divPlaylist a{border:1px solid #ccc;padding:3px 10px;}
#divPlaylist a:hover{border:1px solid #ce3e26;}
a.disable{color:#ccc;cursor:default;pointer-events: none;}a.disable:hover{}
a.pageactive{color:white;background:#de4c34;border:1px solid #ce3e26;cursor:default;pointer-events: none;}a.pageactive:hover{}
#divPlaylist a.pageactive{border:1px solid #ce3e26;}
/*-----------------------uploadItem-------------------*/
.uploadItem p{width:100%;text-align:center;min-height:60px;}
.uploadItem p a{border-radius:10px;margin-left:50px;background:#eee;border:1px solid #ccc;padding:20px 0px;width:300px;display:inline-block;}
.uploadItem p a:hover{border:1px solid #bbb;}
.uploadItem p a:first-child{margin-left:0px;}
.uploadItem h2{text-align:center;font-size:20px;font-weight:bold;padding:20px 0;}

/*-----------------------Post Item-------------------*/
.layout-post,.uploadItem{border-radius:7px;border:1px solid #ccc;padding:20px;margin-top:25px;background:white;}
.layout-post{padding:0;}
.bgRight{background:#f2f2f2;margin-top:55px;padding:10px;}
.listCate{padding:10px;}
.listCate li{width:40%;float:left;margin-right:5%;}
p.error{color:red;}
.post-item{padding:0 10px;}
.post-item h2{font-size:20px;font-weight:bold;padding:20px 0;}
.content-image{width:100%;min-height:420px;margin-bottom:45px;float:left;float:left;}
.content-image .image{background:#cecece;width:100%;height:260px;cursor:pointer;background-size: auto auto;} 
.caption_image{float:left;width:100%;min-height:140px;}
.caption_image textarea{height:50px;border:2px dashed #999;resize:none;}
.content-image .stt{height:35px;overflow:hidden;width:100%;}
.content-image .stt a{display:inline-block;padding:6px 0;color:white;background:#bbb;width:40px;text-align:center;font-size:18px;}
.content-image .stt span{font-size:32px;display:inline-block;cursor:pointer;float:right;}
.content-image .image p{color: #727272;font-weight: bold;position: relative;top:40%;}
.content-image .image > div{float: left;min-height: 30px;width: 100%;}
.content-image .image .main_thumb{width:auto;float:left;background:#eee;opacity:0.7;}
.content-image .image .main_thumb label{display:inline-block;}
.content-image .image span {background:#eee;color: #545454;display: none;float: right;
	font-size: 10px;opacity: 0.7;
}
#errorMessage{margin-top:10px;width:100%;}
.content-image .image span:hover {color: red;}
#TB_title{background:none !important;border:0px !important;}
div.tb-close-icon{color:white !important;}
#TB_window{border-radius:10px;background:none !important;}
#TB_ajaxContent {background:white;text-align: center;border-radius:10px !important;position:relative !important;width:100%;padding:10px 0 ;}
#TB_ajaxContent.TB_modal{padding:0px !important;}
.mediaItem a{cursor:pointer;padding:30px 0;width:25%;margin:3%;border:1px solid #ccc;border-radius:5px;float:left;background:#f2f2f2;color:black;text-align:center;}
.button_div a{cursor:pointer;padding:10px 20px;background:#009cff;color:white;margin-left:10px;}
.button_div{margin-top:20px;}
.post-item .button_div{width:100%;float:left;}
.crop  > img {max-height: 300px;max-width: 100%;text-align: center;}
.jcrop-holder {margin: auto;}
#item_link{width:90%;}
#loadNews{margin-left:5px;}
a.news{color:white;font-size:16px;line-height:30px;}
.resource,.view_news p{margin-bottom:5px;}
.article-page .photo p{text-align:justify;}
.editor_panel{width:100%;clear:both;float:left;margin-top:10px;}
/*----------------------------Login Page---------------*/
.fbuttonLogin{cursor:pointer;display:inline-block;font-size:24px;background:#3b5998;padding:10px 30px;color:white;border-radius:10px;}
.fbuttonLogin span{font-size:24px;padding-right:5px;border-right:1px solid white;margin-right:10px;}
.divLogin{margin:auto;border-radius:10px;border:1px solid #CCC;padding:20px;margin-top:50px;}
/*------------------Page Profile--------------*/
.boxprofile .content p{margin-bottom:5px;}
.boxprofile img{max-width:200px;}
.p_profile .avatar{height:200px;margin-top:10px;}
.avatar .image{height:100%;}
.sex label{padding-right:20px;}
.error{color:red;}
/*---------------Sidebar css------------*/
.box ul{margin:0px;list-style:none;}
.box ul li{margin-top:10px;}
.more-article{position:relative;z-index:2;float:left;}

/*-Begin Responsive-*/
/* for all screen */
.top_right_responsive{display:none;}
.menu_responsive{display:none;}
.article-content{width:100%;float:left;position:relative;}
.article-content p{padding-top:10px;line-height:150%;margin-bottom:0px;}
.article-content img{max-width:100%;}
.adsDiv{width:100%;text-align:center;height:auto;overflow:hidden;}
.leftColumn .loadMore{margin-top:10px;}
.loadMore a{display:block;padding:10px 0;}
.item_otherpost{width:49%;text-align:center;float:left;}
.item_otherpost:first-child{margin-right:2%;}
.otherpost{width:100%;}
/*quiz content*/
.game_contain{width:100%;border:1px solid #ccc;position:relative;float:left;}
.game_contain .short_desc{font-style:italic;padding:10px}
.game_contain .short_desc p{margin-bottom:0px;color:#545454;}
.bar_question{width:100%;float:left;background:#BF0208;text-align:center;padding:5px 0;color:white;}
.bar_question > *{font-weight:bold;color:white;font-size:14px;display:inline-block;padding:0 5px;}
.bar_question >span{font-size:20px;cursor:pointer;}
.div_question{width:100%;float:left;}
.question_contain{display:none;}
.current{display:block;}
.child-photo,.photo,.question_img{background:#EDEDED repeat;text-align:center;width:100%;}
.child-photo{margin-top:10px;}
.question_img img{max-width:100%;vertical-align:middle;}
.questionDivMin{width:100%;float:left;}
.question_text{background:#BF0208;padding:5px 10px;color:white;float:left;}
.question_text span.genericon{cursor:pointer;}
.answer_div{padding:10px 0;width:100%;}
.answer_item{cursor:pointer;width:50%;float:left;border:1px solid #ccc;margin-top:-1px;}
.answer_item:hover{background:#FD8816;color:white;}
.is_image .answer_item{margin-bottom:10px;}
.img_answer{float:left;width:100%;}
.img_answer img{width:100%;z-index:0;max-height:157px;}
.answer_text{padding:5px 10px 5px 40px;float:left;}
div.is_image .answer_text{padding:5px 10px;}
.have_image{padding:5px;min-height:30px;}
.order_id{float:left;z-index:10;position:absolute;width:auto;padding:5px 10px;background:#BF0208;color:white;}
.item_result{display:none;text-align:center;padding:10px 40px;}
.waitingResult{text-align:center;margin:10px 0;}
.logoviral{padding:10px 0;}

#quizz_result p.padTB{border-bottom:1px solid #ccc;}
p.title,p.desc{text-align:left;}
div.viral_result{float:left;width:100%;margin:10px 0;border:1px solid #ccc;box-shadow:0 0 6px rgba(0, 0, 0, 0.06)}
div.viral_result .v_left{min-width:15%;color:#a8a7a7;text-align:center;padding:5px;}
.v_left label{font-size:50px;font-weight:bold;color:#87BF5C;line-height:50px;}
.v_right{width:80%;}
.v_right p{color:#4c94e6;font-size:20px;}
.v_right a{cursor:pointer;font-weight:bold;padding:5px 0;display:inline-block;color:white;font-size:16px;text-align:center;}
.v_right a span{font-size:25px;}
.fbutton {background: #3b5998;color: white;width:70%}
.playAgain {margin-left: 3%;width:27%;background:#BF0208;}
.require_field p, .filter p, .check_result p {float: left;margin-bottom: 10px;padding: 5px;width: 40%;}
.filter{width:100%;float:left;clear:both;}
.check_result,.button_quiz{text-align:center;padding: 0 10px;cursor:pointer;width:100%;float:left;}	
.check_result a,.button_quiz a{text-align:center;padding:10px 0;color:white;font-weight:bold;display:block;width:100%;background:#D00B38;border-radius:5px;}
.game_contain .info_game{width:100%;float:left;}
.divVote{width:100%;float:left;clear:both;margin:10px 0;}
.answer_text .total_percent{float:right;}
span#future_date{font-size:16px;}
div#countdowntimer span{padding:0px;}
.result_poll {width:100%;}
.result_poll .answer_text{width:100%;}
.result_poll .answer_choose{background:#9ac59a;color:white;}
.result_poll .answer_text label{display:inline;cursor:inherit;pointer-events: none;}
.question_trivia div.answer_div div.correct{background:#9AC59A;color:white;}
.question_trivia div.answer_div div.wrong{background:#bf0208;color:white;}
p.nextQuestion{width:100%;padding:10px 0;margin:0px;text-align:center;display:none;}
p.nextQuestion a{cursor:pointer;display:inline-block;width:100%;background:#d00b38;padding:10px 0;color:white;border-radius:5px;}
p.nextQuestion a:hover{background:#bf0208;}
div.result_poll div.answer_item{margin-top:10px;}
div.result_poll.is_image div.answer_text{padding:0px;}
div.text_poll span{word-break: keep-all;display:inline-block;}
div.text_poll p{margin-bottom:0px;padding:5px 0;}
div.text_poll_result{margin:5px 0;position:relative;width:100%;height:4px;display:none;}
div.result_poll.is_image div.text_poll{position:relative;padding:5px 10px;}
div.poll_voted{background:none;color:#545454;}
div.poll_voted:hover{background:none;color:#545454;}
div.result_poll div.divShare{text-align:center;width:100%;clear:both;margin:10px 0 0 0;float:left;}
div.result_poll div.divShare a{font-weight:bold;display:block;width:100%;padding:5px 0;text-align:center;font-size:20px;}
div.result_poll div.divShare label{display:inline-block;padding:10px 0;color:#4c94e6;font-weight:bold;font-size:24px;}
div.result_poll div.divShare a span{font-size:25px;vertical-align:middle;}
div.popup_upload,div.popup_login{padding:10px;}
div.expirePopup{padding-top:15px;}
div.expirePopup img{max-width:100% !important;}
div.expirePopup p{margin:0px;}
/**---------------Fast action----*/
.fastActionRandomImg{height:314px;}
/**---------------create gif----*/
.creategif input,.creategif textarea{border-radius:5px;}
.canvasArea{text-align:center;max-width:470px;width:100%;margin:auto;position:relative;}
.canvasArea img{top: 168px; left: 210px;position:absolute;pointer-events: none;}
#pic{border:1px dashed #ccc;width:100%;}
.content-edit .row {width:100%;clear:both;max-width:470px;margin:auto;}
.content-edit .row p.alignRight{width:28%;float:left;padding:0 2% 0 0;}
.content-edit .row p.alignLeft{width:70%;float:left;padding:5px 0;}
.listItem .row input{display:inline-block;}
.listItem .row input.displayNone{display:none;}
.listItem .row  span{display:inline-block;width:8%;font-size:25px;cursor:pointer;}
.picItem{width:20px;height:20px;margin-left:10px;}
.content-edit .button_quiz{padding:0px;max-width:470px;float:none;margin:auto;}
.fb a{background:#3b5998;}
input.color{width:25%;margin-left:2%;}
input#speedLoop{width:19%}
.listItem .row *{width:8%;vertical-align:middle;}
.listItem .row input.uploadImage{width:1px;opacity: 0;}
.listItem .row input.itemName{width:58%;}
.listItem .row span:first-child{text-align:left;}
.picItem{border:1px dashed #ccc;}

#timeWait{cursor:pointer;pointer-events: none;}
.otherfblike{height:20px;overflow:hidden !important;vertical-align:bottom;margin-right:10px;}
/*------------Quizz-List------------------*/
.list_item{margin:10px 0 25px 0;border-bottom:1px solid #ccc;}
.list_item .head_list,.list_item .img,.list_item .desc{float:left;width:100%;}
.head_list{width:100%;}
.head_list .title{font-weight:bold;font-size:16px;color:#333;}
.head_list .stt{font-size:16px;font-weight:bold;color:white;float:left;background:#bf0208;border-radius:10px 10px 0  0;padding:10px 0;float:left;margin-right:10px;width:50px;text-align:center;}
.list_item .desc{padding:10px 0 25px;}
.list_item .other_quizz_data{float:left;margin-top:25px;}
.img img{width:100%;}
.list_item .photo{float:left;}
@media only screen and (min-width: 980px) {
	.adsheader{min-width:1024px;max-width:1024px;width:100%;margin:auto;padding:10px 0 0 0;}	
	.more-article li:nth-child(4n+4){margin-right:0px;}
	.fullcenter{min-width:1024px;max-width:1024px;width:100%;margin:auto;box-sizing:border-box;}
	.topbar{width:98%;margin:auto;box-sizing:border-box;}	
	div.hideSearch{display:none;width:400px;}.searchform{width:auto;position:absolute;z-index:10;right:0px;}		
	div.hideSearch > span{display:block;float:left;font-size:30px;cursor:pointer;padding-top:3px;}
	div.writepost,div.userinfoMenu{margin-right:60px;}
	div.divButton{margin-top:0px;margin-left:0px;text-align:right;min-width:0;}
	div.fsearch{width:60%;}div.writepost{margin-right:52px;}
	.leftColumn{float:left;width:694px;}
	.rightColumn{float:right;width:320px;}		
	.doubleColumn{width:100%;}	
	.parent-menu-icon{cursor:default;}
	div.social > div,div.fb_iframe_widget{padding-right:5px;width:auto;min-width:60px;max-height:25px;display:inline;}
	div.fb_iframe_widget iframe{position:relative;z-index:1;}
	.img_answer img{height:157px;}
}
/*Iphone landscape or tablet */
@media only screen and (min-width: 481px) and (max-width: 979px){
	.adsheader{width:100%;margin:auto;padding:10px 0 0 0;}
	.fullcenter,.topbar{max-width:580px;margin:0 auto;box-sizing:border-box;}
	.leftColumn{float:left;width:100%;}
	.rightColumn{float:right;width:100%;}
	.column{width:100%;}
	.columnMargin{width:100%;}	
	.doubleColumn{width:100%;}	
	.child-photo .item-child{text-align:left;}
	.child-photo .item-child:first-child{text-align:right;}	
	.child-photo{padding:10px;}	
	.photo{text-align:center;}
	.more-article li{width:31.3%;float:left;margin-right:3%;margin-right:1.5%\9;margin-bottom:10px;}
	.more-article li:nth-child(3n+3){margin-right:0px;}	
	.menu_responsive{display:block;float:right;padding:5px;}
	.menu_responsive span{font-size:30px;margin-left:10px;cursor:pointer;}		
	.top_right{display:none;}		
	.logo{width:70px;}
	.logo img{width:70px;}
	.searchform{width:100%;}
	.menu-type-search{width:23%;}
	.fsearch{width:75%;}
	.menu-type-search ul.sub-menu{width:80px;border-radius:5px;}
	.menucss a{font-size:13px;}
	.menucss >ul > li{padding:14px 3px 5px;}
	.menucss{width:100%;clear:both;float:left;display:none;}
	.menucss a{min-width:90%;display:inline-block;}
	.menucss ul,.menucss li{width:100%;border:none;margin:0px;background:none;position:relative;}
	.menucss > ul > li > ul{margin:0px;}
	.menucss li{border:1px solid #CCC;margin-top:-1px;}
	.menucss li:hover ul.sub-menu{margin:0px;background:none;display:none;}
	.menucss  ul li:hover > ul{border:0px;display:none;}
	.menucss  ul.sub-menu li:hover > ul{border:0px;display:none;}
	.parent-menu-icon{float:right;font-size:20px;cursor:pointer;}
	#searchform{border:none;}
	.social-link{display:none;}
	.quizzinfo h1{text-align:center;}
	.infoGame .desc{width:100%;}	
	.menucss-show{display: block;}
	.social-link{display:none;}	
	div.item_result{padding:5px;}
	.contribute{font-size:14px;padding:1px 2px;}
	.contribute span{font-size:20px;}
	.sugguest_fotter .naviTab{width:9%;}	
	.sugguest_fotter .content{min-width:400px;width:80%;}
	div.top_hot{display:none}
	div.new-article li:last-child{display:none;}
	div.social{margin-top:10px;}
	div.secondColumn .content{padding-top:10px}
	.v_right{width:75%;}
	
}
/*tablet landscape*/
@media only screen and (min-width: 769px) and (max-width: 979px){		
}
/*same attribute for tablet and mobile*/
@media only screen and (max-width: 979px){	
	#content{padding-top:60px;}
	.content-edit .row p.alignRight,.content-edit .row p.alignLeft{text-align:left;width:100%;float:left;overflow:hidden;}
	.listItem .row span{width:10%;display:inline-block;}	
	div.topUser li{width:50%;box-sizing:border-box;}
	div.menu-user-mobile{width:100%;clear:both;}
	.menu-user-mobile{width:100%;clear:both;float:left;display:none;margin-bottom:10px;}
	.menu-user-mobile a{min-width:90%;display:inline-block;}
	.menu-user-mobile ul,.menu-user-mobile li{width:100%;border:none;margin:0px;background:none;position:relative;}	
	.menu-user-mobile li{border:1px solid #CCC;margin-top:-1px;padding:5px;}
	.top_right_responsive{display:block;clear:both;width:100%;margin-top:5px;float:left;}
	.searchform{display:none;max-width:none;margin-bottom:10px;}
	div.firstColumn,div.secondColumn{float:left;width:100%;}
	div.menucss{max-height:200px;overflow:auto;}
}
/* for smartphone */
@media only screen and (max-width: 480px) {
	.adsheader{width:100%;margin:auto;padding:10px 0 0 0;}
	.fullcenter,.topbar{width:96%;margin:auto;padding:5px 0;box-sizing:border-box;}
	.leftColumn{float:left;width:100%;}
	.rightColumn{float:right;width:100%;}
	.column{width:100%;}
	.columnMargin{width:100%;}	
	.doubleColumn{width:100%;}	
	.menu_responsive{display:block;float:right;padding:5px;}
	.menu_responsive span{font-size:25px;padding-top:5px;margin-left:10px;cursor:pointer;}	
	.top_right{display:none;}	
	.menucss a{font-size:13px;}
	.menucss >ul > li{padding:14px 3px 5px;}
	.logo{width:70px;}
	.logo img{width:70px;}
	.searchform{width:100%;}
	.menu-type-search{width:23%;}
	.fsearch{width:75%;}
	.menu-type-search{padding:8px 2px 0;}
	.menu-type-search ul.sub-menu{width:80px;border-radius:5px;}
	.menucss{width:100%;clear:both;float:left;display:none;}
	.menucss a{min-width:90%;display:inline-block;}
	.menucss ul,.menucss li{width:100%;border:none;margin:0px;background:none;position:relative;}
	.menucss > ul > li > ul{margin:0px;}
	.menucss li{border:1px solid #CCC;margin-top:-1px;}
	.menucss li:hover ul.sub-menu{margin:0px;background:none;display:none;}
	.menucss  ul li:hover > ul{border:0px;display:none;}
	.menucss  ul.sub-menu li:hover > ul{border:0px;display:none;}
	.parent-menu-icon{float:right;font-size:20px;cursor:pointer;}
	#searchform{border:none;}
	.social-link{display:none;}
	.bar-detail > div{width:100%;float:left;}
	.otherpost{text-align:left;margin-top:15px;}	
	.v_right a span{font-size:20px;}
	.playAgain, .fbutton{margin:auto;display:block;margin-bottom:10px;}
	.playAgain{margin:auto;width:40%;}.fbutton{width:58%;margin-right:2%;}
	.more-article li{width:46%;float:left;margin-right:3.5%;margin-right:1.5%\9;margin-bottom:10px;}
	.more-article li:nth-child(2n+2){margin-right:0px;}	
	.contribute{font-size:12px;padding:2px 5px;}
	.contribute span{font-size:18px;}	
	.leftColumn .adsDiv{margin-bottom:10px;}
	.sugguest_fotter .naviTab{width:7%;}	
	.sugguest_fotter .content{width:205px;margin-left:15%;}
	div.item_result{padding:5px;}
	div.viral_result .v_left{width:20%;}
	.video{min-height:220px;}
	div.top_hot{display:none}	
	div.social{margin-top:10px;}
	div.secondColumn .content{padding-top:10px}
	div.viral_result .v_left,div.viral_result .v_right{width:100%;}
	.playAgain, .fbutton{width:100%;}
	#prevPlaylist{display:none;}#nextPlaylist{display:none;}
	.fastActionRandomImg{height:200px;}
	.listItem .row input.itemName{width:50%;}		
	.uploadItem p a{width:120px;margin-left:10px;padding:10px 0;}
	.photo{min-height:50px;}
	.list-item li h4 > a{font-size:14px;}
	p.bar_content span a{font-size:11px;}
	span.type_item{top:30%;}	
}
/*---------------End Responsive------------*/

/*--Thickbox----*/
#TB_overlay {background: #000;opacity: 0.7;filter: alpha(opacity=70);position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 100050; /* Above DFW. */}#TB_window {position: fixed;background: #fff;z-index: 100050; /* Above DFW. */visibility: hidden;text-align: left;top: 50%;left: 50%;-webkit-box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );}#TB_window img#TB_Image {display: block;margin: 15px 0 0 15px;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;border-top: 1px solid #666;border-left: 1px solid #666;}#TB_caption{height: 25px;padding: 7px 30px 10px 25px;float: left;}#TB_closeWindow {height: 25px;padding: 11px 25px 10px 0;float: right;}#TB_closeAjaxWindow {float: right;}#TB_closeAjaxWindow a {text-decoration: none;}#TB_ajaxWindowTitle {float: left;font-weight: 600;line-height: 29px;overflow: hidden; padding: 0 29px 0 10px;text-overflow: ellipsis;white-space: nowrap;width: calc( 100% - 39px );}#TB_title {background: #fcfcfc;border-bottom: 1px solid #dfdfdf;height: 29px;}#TB_ajaxContent {clear: both;padding: 2px 15px 15px 15px;overflow: auto;text-align: left;line-height: 1.4em;}#TB_ajaxContent.TB_modal {padding: 15px;}#TB_ajaxContent p {padding: 5px 0px 5px 0px;}#TB_load {position: fixed;display: none;z-index: 103;top: 50%;left: 50%;background-color: #E8E8E8;border: 1px solid #555;margin: -45px 0 0 -125px;padding: 40px 15px 15px;}#TB_HideSelect {z-index: 99;position: fixed;top: 0;left: 0;background-color: #fff;border: none;filter: alpha(opacity=0);opacity: 0;height: 100%;width: 100%;}#TB_iframeContent {clear: both;border: none;}.tb-close-icon {color: #666;text-align: center;line-height: 29px;width: 29px;height: 29px;position: absolute;top: 0;right: 0;}.tb-close-icon:before {content: '\f405';font: normal 30px 'Genericons';speak: none;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}.tb-close-icon:hover {color: #2ea2cc;}
/*--Special attribue-*/
.fleft{float:left;}.fright{float:right;}
.marginNone{margin:0px;}
.alignLeft{text-align:left;}.alignRight{text-align:right;}.alignCenter{text-align:center;}.displayNone{display:none;}
.inlineBlock{display:inline-block;}
div.bgWhite{background:white;}
.padA{padding:10px;}.padTB{padding:10px 0;} .padLR{padding:0 10px}.padT{padding-top:10px;}
.padB{padding-bottom:10px;}.marT{margin-top:10px;}.marTB{margin:10px 0;}
.no-margin-x{margin-left:0px !important;margin-right:0px !important;}
.mainFBChat{position:fixed; z-index:9999999; right:0px; bottom:-290px;width:300px;height:330px;}
div.titleChat{background:#3b5998;color:white;width:100%;padding:10px;font-size:16px;font-weight:bold;cursor:pointer;}
.titleChat span.genericon-foursquare{font-size:20px;}
.titleChat span.genericon-close-alt{margin-right:20px;}
a.red{color:red;font-weight:bold;}
sup{border:1px solid #ccc;padding:3px;border-radius:10px;margin-left:10px;}